body {
    background-color: #2E4044;
}

.o-radiobox {
    display: flex;
    align-items: center;

    &__item {
        display: flex;
        align-items: center;
        cursor: pointer;

        &+& {
            margin-left: 20px;
        }
    }

    &__input {
        position: absolute;
        opacity: 0;
    }

    &__icon {
        position: relative;
        display: block;
        box-sizing: border-box;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #f8f8f8;

        &::after {
            content: none;
            display: block;
            position: absolute;
            top: 4px;
            left: 4px;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color: #f4c670;
        }
    }

    &__icon+&__text {
        margin-left: 8px;
    }

    &__text {
        color: #f4c670;
    }

    &__input:checked+&__icon {
        &::after {
            content: '';
        }
    }
}

.o-radiobtn {
    display: flex;
    align-items: center;

    &__input {
        position: absolute;
        opacity: 0;
    }

    &__item {
        position: relative;
        box-sizing: border-box;
        min-width: 120px;
        min-height: 40px;
        border: 2px solid #40c4b6;
        border-radius: 6px;
        overflow: hidden;
        cursor: pointer;
        color: #40c4b6;

        &+& {
            margin-left: 12px;
        }
    }

    &__text {
        position: absolute;
        top: 0;
        left: 0;
        padding: 8px;
        box-sizing: border-box;
        display: inline-block;
        width: 100%;
        height: 100%;
        text-align: center;
        border: 2px solid transparent;
    }

    &__input:checked+&__text {
        border: 2px solid #40c4b6;
        background-color: #40c4b6;
        color: #f8f8f8;
    }
}

.o-radioSwt {
    display: flex;
    align-items: center;

    &__item {
        position: relative;
        width: 50%;
        padding: 12px;
        text-align: center;
        border: 1px solid #f8f8f8;
        overflow: hidden;
        cursor: pointer;

        &:first-child {
            border-top-left-radius: 6px;
            border-bottom-left-radius: 6px;
        }

        &:last-child {
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px;
        }

        &+& {
            margin-left: -1px;
        }
    }

    &__input {
        opacity: 0;
    }

    &__text {
        box-sizing: border-box;
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        padding: 12px;
        color: #8bc95a;
    }

    &__input:checked+&__text {
        color: #f8f8f8;
        background-color: #8bc95a;
    }
}

// 
.o-title {
    font-weight: bold;
    font-size: 20px;
    color: #f8f8f8;
}

.l-wrap {
    width: 50%;
    margin: 0 auto;
}

.m {
    width: 100%;

    &-lg {
        margin: 60px 0;
    }

    &-sm {
        margin: 24px 0;
    }
}